//- Для добавления сетки на страницу используется миксин +grid
//- Для добавления колонки - миксин +col(), в скобках указывается число колонок сетки, которому соответствует размер добавляемой колонки.
//- Пример сетки из трех колонок разной ширины (3, 4 и 5), общая ширина сетки — 12 колонок:
//- +grid
//-   +col(3)
//-     контент первой колонки
//-   +col(4)
//-     контент второй колонки
//-   +col(5)
//-     контент третьей колонки
//-   +col({ xl: 12, lg: 6, md: 3, sm: 2, xl: 1 })

mixin grid()
  .grid&attributes(attributes)
    block

mixin col(col)
  - var classNames = []

  if typeof col === 'object'
    - var knownKeys = ['xl', 'lg', 'md', 'sm', 'xs']

    each val, key in col
      if knownKeys.indexOf(key) !== -1
        - classNames.push(`grid__col_${key}_${val}`)

  else
    - classNames.push(`grid__col_xl_${col}`)

  .grid__col(class=classNames.join(' '))&attributes(attributes)
    block
