//- Для добавления сетки на страницу используется миксин +grid
//- Для добавления колонки - миксин +col(), в скобках указывается число колонок сетки, которому соответствует размер добавляемой колонки.
//- Пример сетки из трех колонок разной ширины (3, 4 и 5), общая ширина сетки — 12 колонок:
//- +grid
//-   +col(3)
//-     контент первой колонки
//-   +col(4)
//-     контент второй колонки
//-   +col(5)
//-     контент третьей колонки

mixin grid()
  +b.grid&attributes(attributes)
    block

mixin col(number)
  - var colnumber = "one";
  - if (number === 1)
    - colnumber = 'one';
  - if (number === 2)
    - colnumber = 'two';
  - if (number === 3)
    - colnumber = 'three';
  - if (number === 4)
    - colnumber = 'four';
  - if (number === 5)
    - colnumber = 'five';
  - if (number === 6)
    - colnumber = 'six';
  - if (number === 7)
    - colnumber = 'seven';
  - if (number === 8)
    - colnumber = 'eight';
  - if (number === 9)
    - colnumber = 'nine';
  - if (number === 10)
    - colnumber = 'ten';  
  - if (number === 11)
    - colnumber = 'eleven';
  - if (number === 12)
    - colnumber = 'twelve';
  - if (number === 13)
    - colnumber = 'thirteen';
  - if (number === 14)
    - colnumber = 'fourteen';
  - if (number === 15)
    - colnumber = 'fifteen';

  +b.grid__col(class="_" + colnumber)&attributes(attributes)
    block
