.grid {
  font-size: 0;
  display: block; // fallback для старых браузеров
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gap/2;
  margin-right: -$grid-gap/2;

  &:first-of-type { margin-top: -$grid-gap-vertical; }

  &__col {
    display: inline-block; // fallback для старых браузеров
    box-sizing: border-box;
    padding: $grid-gap-vertical $grid-gap/2 0;
    margin: 0;

    &_one { width: 1 * $grid-col-width; }
    &_two { width: 2 * $grid-col-width; }
    &_three { width: 3 * $grid-col-width; }
    &_four { width: 4 * $grid-col-width; }
    &_five { width: 5 * $grid-col-width; }
    &_six { width: 6 * $grid-col-width; }
    &_seven { width: 7 * $grid-col-width; }
    &_eight { width: 8 * $grid-col-width; }
    &_nine { width: 9 * $grid-col-width; }
    &_ten { width: 10 * $grid-col-width; }
    &_eleven { width: 11 * $grid-col-width; }
    &_twelve { width: 12 * $grid-col-width; }
    &_thirteen { width: 13 * $grid-col-width; }
    &_fourteen { width: 14 * $grid-col-width; }
    &_fifteen { width: 15 * $grid-col-width; }
  }
}
