.checkradio {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  cursor: pointer;

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      & + .checkradio__box {
        &::before { opacity: 1; }
      }
    }
  }

  &__box {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid $color-border;
    left: 0;
    top: 2px;

    &::before {
      content: '';
      width: 9px;
      height: 9px;
      background-color: $color-main;
      display: block;
      opacity: 0;
      transition: opacity $ease-main;

      @include center-image;
    }
  }

  &__content {
    font-size: 14px;
    line-height: 1.5;
  }
}
