.checkradio {
  display: block;
  cursor: pointer;

  $b: &;

  &__input {
    display: none;
  }

  &__block {
    display: flex;
  }

  &__box {
    width: 15px;
    height: 15px;
    border: 1px solid color(border);
    box-sizing: border-box;
    position: relative;
    display: block;
    margin-top: 2px;
    margin-right: 10px;

    &::before {
      content: '';
      width: 9px;
      height: 9px;
      background-color: color(main);
      opacity: 0;
      transition: opacity $ease-main;

      @include center-image;
    }

    #{$b}__input:checked + #{$b}__block &::before {
      opacity: 1;
    }
  }

  &__content {
    font-size: 14px;
    line-height: 1.5;
  }
}
