// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: flex;
  border: 1px solid color(border);
  border-radius: 5px;
  height: 40px;
  box-sizing: border-box;

  $b: &;

  &__button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: opacity $ease-main;
    flex-shrink: 0;

    &:hover {
      opacity: .5;
    }
  }

  &__input {
    flex: 1;
    width: 100%;
    border: 0;
    text-align: center;
    height: auto;
  }
}
