// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: table;
  width: 100%;

  &__button {
    border: 1px solid $color-border;
    width: 40px;
    display: table-cell;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    text-align: center;

    &:hover::before, &:hover::after { opacity: .5; }

    &::before, &::after { transition: opacity $ease-main; }

    &:first-child::before { content: '-'; }

    &:last-child::before { content: '+'; }
  }

  &__input {
    flex: 1;
    border-left: 0;
    border-right: 0;
    text-align: center;
    display: table-cell;
  }
}
