@import '../../node_modules/nouislider/distribute/nouislider.min.css';

// #####
// Range-слайдер
// #####

.range {
  display: inline-block;
  width: 100%;

  &__numbers {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .js-range-from, .js-range-to {

      &::after {
        content: ' ₽';
      }
    }
  }

  .noUi {

    &-target {
      border-radius: 0;
      background: transparent;
      border: 0;
      box-shadow: none;
    }

    &-horizontal {
      height: auto;
    }

    &-base {
      height: 2px;
      background-color: color(border);
      position: relative;
      margin: 7px 0; // Margin нужен, чтобы handler не налезал на другие элементы
    }

    &-handle {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 50%;
      right: 0;
      border: 1px solid color(border);
      transform: translate(50%, -50%);
      background-color: white;
      transition: border-color $ease-main;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: none;

      &::before, &::after {
        display: none;
      }

      &:hover {
        border-color: color(main);
      }
    }
  }
}
