.sitemap {
  display: block;
  padding: 60px 0;

  &__link {
    display: block;
    transition: opacity $ease-main;
    color: $color-main;
    font-size: 16px;

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
