extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Карта верстки'

block content
  +b.sitemap
    .container
      +e.A.link(href="ui-kit.html") UI-kit (ui-kit.html)
      +e.A.link(href="index.html") Страница index (index.html)
