.table {
  display: table;

  @include text;

  tr {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid $color-border;
  }

  thead tr {
    border-width: 2px;
  }

  td {
    padding: $grid-gap/2 $grid-gap $grid-gap/2 0;
    vertical-align: top;

    &:last-child { padding-right: 0; }
  }
}
