mixin table(data)
  +b.TABLE.table(cellspacing="0", cellpadding="0")&attributes(attributes)
    each row in data
      +e.TR.row(class=row.rowClass)
        each col in row.cols
          +e.TD.col(class=col.colClass, colspan=col.colspan, rowspan=col.rowspan)!= col.text

mixin ui-kit-table()
  +ui-section
    +ui-section-head
      +ui-title Таблицы
      +ui-path
        p Блок: blocks/table/table

    +ui-section-content()
      +table(getData('sample-table'))

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
