.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  $b: &;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {

      &::after {
        content: '';
        width: 6px;
        height: 6px;
        border-style: solid;
        border-radius: 2px;
        border-width: 2px 2px 0 0;
        border-color: color(main);
        transform: rotate(45deg);
        margin: 0 20px 0 15px;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.5;
    transition: color $ease-main;

    &[href]:hover {
      color: color(main);
    }

    &:not([href]) {
      color: rgba(black, .5);
    }
  }
}
