$breadpadding: 35px;

.breadcrumbs {
  display: block;

  &__item {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      padding-right: $breadpadding;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: $breadpadding/2;
        width: 5px;
        height: 5px;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: $color-basic;
        transform-origin: center;
        transform: translateX(50%) rotate(45deg);
      }
    }

    &:last-child .link {
      pointer-events: none;

      &__text {
        @include link-disabled;
      }
    }
  }
}
