.link {
  color: $color-main;
  border: 0;
  transition: fill $ease-main, color $ease-main, opacity $ease-main, border-color $ease-main;
  fill: $color-main;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;

  $b: &;

  &:hover {
    opacity: .5;
  }

  &__text {
    border-bottom: 1px solid;
    border-color: inherit;

    #{$b}_dashed & {
      border-bottom-style: dashed;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &.is-disabled {
    pointer-events: none;
    fill: $color-border;
    color: $color-border;
    border-color: transparent;
  }
}
