mixin link()
  +b.A.link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname)
  +b.A.link&attributes(attributes)._icon
    +icon(iconname).__icon
    +e.SPAN.text
      block
