mixin link(icon)
  +b.A.link&attributes(attributes)
    if icon
      +icon(icon).__icon
    +e.SPAN.text
      block

mixin ui-kit-links
  +ui-section
    +ui-section-head
      +ui-title Ссылки
      +ui-path
        p Блок: blocks/link/link
      //- +ui-description
      //-   p Описание Блока

    +ui-section-content()
      +ui-elements-list
        +link()(href="#") Обычная ссылка
        +link()(href="#")._dashed Пунктирная ссылка
        +link('refresh')(href="#") Ссылка с иконкой
        +link()(href="#").is-disabled Отключенная ссылка

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
