.link {
  $b: &;
  @include link;

  &__text {
    #{$b}_dashed & {
      @include link-dashed;
    }
  }

  &_icon {
    position: relative;
    padding-left: 25px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }

  &.is-disabled {
    pointer-events: none;
    fill: $color-border;
    @include link-disabled;
  }
}
