.ui-kit {
  display: block;
  color: $ui-kit-color-text;
  background-color: $ui-kit-bg;

  $b: &;

  &__head {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  &__name {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.4;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 1.4;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    #{$b}__special:not(:first-child) {
      margin-top: 20px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    p {

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__special {
    padding: 30px;
    border: 1px solid $ui-kit-color-gray;
  }

  &__logo {
    height: 80px;
    font-size: 20px;
  }

  &__elements-list {
    margin: -20px -20px 0 0;
    font-size: 0;

    > * {
      margin: 20px 20px 0 0;
      vertical-align: top;
    }
  }

  &__section {
    padding-top: 50px;
    padding-bottom: 50px;

    &_dark {
      background-color: $ui-kit-color-darkbg;
      color: white;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $ui-kit-color-gray;
    }
  }

  &__blockpath {
    font-size: 16px;
    line-height: 1.5;

    p {

      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__section-head {
    text-align: left;
  }

  &__section-content {
    margin-top: 30px;
  }

  &__color {
    text-align: center;
    font-size: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    box-shadow: inset 0 0 0 1px rgba(black, .1);

    $i: 1;

    &::before, &::after {
      display: inline-block;
      margin: 0 15px;
      padding: 0 5px;
      line-height: 1.5;
      font-size: 14px;
      background-color: white;
      border-radius: 3px;
    }

    &::before {
      margin-top: 15px;
    }

    &::after {
      margin-top: 5px;
      margin-bottom: 15px;
    }

    @each $key, $val in $colors {

      &_color:nth-of-type(#{$i}) {
        background: $val;

        &::before {
          content: '#{$key}';
        }

        &::after {
          content: '#{$val}';
        }
      }

      $i: $i + 1;
    }

    $i: 1;

    @each $key, $val in $gradients {

      &_gradient:nth-of-type(#{$i}) {
        background: $val;

        &::before {
          content: '#{$key}';
        }

        &::after {
          content: '#{$val}';
        }
      }

      $i: $i + 1;
    }
  }

  &__navigation {
    position: fixed;
    right: 100%;
    top: 0;
    height: 100%;
    box-shadow: 0 0 30px rgba($ui-kit-color-text, .15);
    z-index: 10;
    padding: 20px;
    background-color: $ui-kit-bg;
    transform: translate3d(15%, 0, 0);
    width: 240px;
    opacity: .5;
    transition: opacity $ease-main, transform $ease-main;
    overflow: auto;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;

    $b: &;

    &:hover {
      transform: translate3d(100%, 0, 0);
      opacity: 1;

      &::after {
        opacity: 0;
      }
    }

    &::after {
      content: 'Навигация';
      display: inline-block;
      position: absolute;
      right: 11px;
      top: 0;
      transform-origin: right bottom;
      transform: rotate(-90deg);
      transition: opacity $ease-main;
      font-size: 14px;
      color: $ui-kit-color-text;
      line-height: 1;
    }

    a {
      color: $color-main;
      text-decoration: underline;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }

    li {

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
}
