extends ../../layouts/empty
include ui-kit-mixins

block head
  - var pageTitle = 'UI-кит'
  - var projectName = 'Название проекта'

block content
  +b.ui-kit
    +e.navigation
      +e.UL.navigation__list
      +e.navigation__icon <svg width="10" height="118" viewBox="0 0 10 118" xmlns="http://www.w3.org/2000/svg"><path d="M9 110.365L9 111.848L2.94727 115.65L9 115.65L9 117.133L0.46875 117.133L0.46875 115.65L6.54492 111.836L0.46875 111.836L0.46875 110.365L9 110.365Z"/><path d="M7.01367 98.3924L7.01367 101.697L9 102.389L9 103.93L0.468749 100.707L0.468749 99.3768L9 96.1483L9 97.6952L7.01367 98.3924ZM5.81836 101.281L5.81836 98.8084L2.2793 100.045L5.81836 101.281Z"/><path d="M7.14258 87.2868L0.468749 85.1188L0.468749 83.4899L9 86.5602L9 87.9958L0.468749 91.0544L0.468749 89.4313L7.14258 87.2868Z"/><path d="M9 75.6187L9 77.0952L0.468748 77.0952L0.468748 75.6187L9 75.6187Z"/><path d="M7.89258 61.9173C8.29492 62.2259 8.59961 62.6537 8.80664 63.2005C9.01367 63.7474 9.11719 64.3685 9.11719 65.0638C9.11719 65.7787 8.95508 66.4115 8.63086 66.9623C8.30664 67.513 7.84375 67.9388 7.24219 68.2396C6.63672 68.5365 5.93164 68.6908 5.12695 68.7025L4.45898 68.7025C3.16992 68.7025 2.16406 68.3939 1.4414 67.7767C0.714842 67.1595 0.35156 66.2982 0.35156 65.1927C0.35156 64.2435 0.585935 63.4896 1.05469 62.931C1.52344 62.3724 2.19922 62.0365 3.08203 61.9232L3.08203 63.3763C2.05469 63.5404 1.54101 64.1361 1.54101 65.1634C1.54101 65.8275 1.78125 66.3334 2.26172 66.681C2.73828 67.0248 3.43945 67.2025 4.36523 67.2142L5.02148 67.2142C5.94336 67.2142 6.66015 67.0209 7.17187 66.6341C7.67969 66.2435 7.93359 65.7025 7.93359 65.0111C7.93359 64.2533 7.76172 63.7142 7.41797 63.3939L5.74804 63.3939L5.74804 65.1517L4.62304 65.1517L4.62304 61.9173L7.89258 61.9173Z"/><path d="M7.01367 50.173L7.01367 53.4777L9 54.1691L9 55.7102L0.468747 52.4875L0.468747 51.1574L9 47.9289L9 49.4758L7.01367 50.173ZM5.81836 53.0617L5.81836 50.5891L2.27929 51.8254L5.81836 53.0617Z"/><path d="M1.66406 36.1553L1.66406 38.8155L9 38.8155L9 40.2862L1.66406 40.2862L1.66406 42.9229L0.468747 42.9229L0.468746 36.1553L1.66406 36.1553Z"/><path d="M9 28.1259L9 29.6024L0.468746 29.6024L0.468746 28.1259L9 28.1259Z"/><path d="M4.95703 14.155C5.79296 14.155 6.52734 14.2995 7.16015 14.5886C7.78906 14.8777 8.27343 15.2917 8.61328 15.8308C8.94921 16.3659 9.11718 16.9831 9.11718 17.6823C9.11718 18.3737 8.94921 18.9909 8.61328 19.5339C8.27343 20.073 7.79101 20.4909 7.16601 20.7878C6.54101 21.0808 5.82031 21.2292 5.0039 21.2331L4.52343 21.2331C3.6914 21.2331 2.95703 21.0866 2.32031 20.7937C1.68359 20.4968 1.19726 20.0808 0.861324 19.5456C0.52148 19.0066 0.351558 18.3894 0.351558 17.6941C0.351558 16.9987 0.519527 16.3835 0.855464 15.8484C1.1875 15.3093 1.66796 14.8933 2.29687 14.6003C2.92187 14.3073 3.65039 14.1589 4.48242 14.155L4.95703 14.155ZM4.51171 15.6374C3.5664 15.6374 2.84179 15.8171 2.33789 16.1765C1.83398 16.532 1.58203 17.0378 1.58203 17.6941C1.58203 18.3347 1.83398 18.8366 2.33789 19.1999C2.83789 19.5593 3.54687 19.7429 4.46484 19.7507L4.95703 19.7507C5.89453 19.7507 6.61914 19.5691 7.13086 19.2058C7.64257 18.8386 7.89843 18.3308 7.89843 17.6823C7.89843 17.0261 7.64843 16.5222 7.14843 16.1706C6.64843 15.8152 5.91796 15.6374 4.95703 15.6374L4.51171 15.6374Z"/><path d="M8.99999 0.570861L8.99999 2.05328L2.94726 5.85602L9 5.85602L9 7.33844L0.468745 7.33844L0.468745 5.85602L6.54492 2.04156L0.468745 2.04156L0.468745 0.570862L8.99999 0.570861Z"/></svg>

    //- Шапка ui-кита
    +e.SECTION.head&attributes(attributes)
      .container
        +e.IMG.logo(src="assets/images/logo.svg", alt="Логотип проекта")

    //- Сетка
    +ui-kit-grid

    //- Шрифты
    +ui-section
      +ui-section-head
        +ui-title Шрифты
        +ui-path
          p Переменные находятся в файле styles/helpers/_variables.scss
          p Шрифты подключены в styles/helpers/_fonts.scss
        +ui-description
          p Основной шрифт: Arial ($font-main), font-weight: 400, 600
          p Дополнительный шрифт: Times New Roman ($font-second), font-weight: 400, 600

    //- Цвета
    +ui-section
      +ui-section-head
        +ui-title Цвета сайта
        +ui-path Массив цветов в файле styles/helpers/_variables.scss
        +ui-description
          p Пример использования:
          pre background-color: color(basic);
      +ui-section-content()
        +ui-elements-list()
          - var n = 0;
          while n < 30
            +ui-color._color
            - n++

    //- Градиенты
    +ui-section
      +ui-section-head
        +ui-title Градиенты
        +ui-path Массив градиентов в файле styles/helpers/_variables.scss
        +ui-description
          p Пример использования:
          pre background: gradient(main);
      +ui-section-content()
        +ui-elements-list()
          - var n = 0;
          while n < 20
            +ui-color._gradient
            - n++

    //- Таблицы
    +ui-kit-table

    //- Табы
    +ui-kit-tabs

    //- Попапы
    +ui-kit-popups

    //- Скроллбар
    +ui-kit-scrollbar

    //- Слайдер
    +ui-kit-slider

    //- Подсказки
    +ui-kit-tooltip

    //- Карты
    +ui-kit-map

    //- Анимации
    +ui-section
      +ui-section-head
        +ui-title Анимации при скролле
        +ui-path
          p Блок: blocks/js-functions/scrollAnimation
        +ui-description
          p .js-sr — общий класс для анимируемых элементов
          p Предустановленные модификаторы для появления с разных сторон:
          p
            a(href="https://scrollrevealjs.org/api/reveal.html" target="_blank") Документация
          +ui-special
            p .js-sr_top — появление сверху
            p .js-sr_right — появление справа
            p .js-sr_bottom — появление снизу
            p .js-sr_left — появление слева

      +ui-section-content()
        +ui-elements-list()
          +button().js-sr.js-sr_left .js-sr_left
          +button().js-sr.js-sr_top .js-sr_top
          +button().js-sr.js-sr_right .js-sr_right
          +button().js-sr.js-sr_bottom .js-sr_bottom

    //- Хлебные крошки
    +ui-kit-breadcrumbs

    //- Блок accordion
    +ui-kit-accordion

    //- Блок button
    +ui-kit-button

    //- Блок dropdown
    +ui-kit-dropdown

    //- Блок form
    +ui-kit-form

    //- Блок content-zone
    +ui-kit-content-zone
