extends ../../layouts/default
include ui-kit-mixins

block head
  - var pageTitle = projectName + ' | UI-кит'

block content
  script
    | $(window).on('load', function () {
    |   $('.ui-kit__section').each(function (i) {
    |     var id = 'section' + i;
    |     var name = $(this).find('.ui-kit__section-head h2').text();
    |     var li = $('<li></li>');
    |     var a = $('<a></a>');
    |
    |     a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |     li.append(a);
    |
    |     $('.ui-kit__navigation__list').append(li);
    |     $(this).attr('id', id);
    |   });
    | });

  +b.ui-kit
    +e.navigation
      +e.UL.navigation__list

    //- Шапка ui-кита
    +e.SECTION.head&attributes(attributes)
      .container
        +e.IMG.logo(src="assets/images/logo.svg", alt="Логотип проекта")
        +e.name Название проекта

    //- Сетка
    +ui-section._grid
      +ui-section-head
        +ui-title Сетка
        +ui-description
          p Отступы слева и справа от экрана: 20px ($container-padding)
          p Ширина контейнера: 960px ($container-width)
          p Ширина контейнера сетки: 100% ($grid-container-width)
          p Колонок: 12 ($grid-cols)
          p Горизонтальное расстояние между колонками: 20px ($grid-gap)
          p Вертикальное расстояние между колонками: 20px ($grid-gap-vertical)
          p Переменные: styles/helpers/_variables.scss
          p Блок: blocks/grid/

      +ui-section-content()
        +ui-special(style="margin-bottom: 20px")
          +content-zone
            H4 Возможные варианты использования
            p +col(12) агалогично +col({ xl: 12 })
            p +col({ xl: 8, lg: 6: md: 5, sm: 7, xs: 12 })
            p
              span Промежуточные брейкпоинты указывать не обязательно
              br
              span При следующей записи - блок будет занимать 6 колонок на всех разрешениях, а на самом маленьком #[i (xs)] 12
            p +col({ xl: 6, xs: 12 })
        +grid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)

    //- Цвета
    +ui-section
      +ui-section-head
        +ui-title Цвета сайта
        +ui-path Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          - var n = 0;
          while n < 30
            +ui-color._color
            - n++

    //- Градиенты
    +ui-section
      +ui-section-head
          +ui-title Градиенты
          +ui-path Миксины градиентов находятся в файле styles/helpers/_gradients.scss
      +ui-section-content()
        +ui-elements-list()
          - var n = 0;
          while n < 20
            +ui-color._gradient
            - n++

    //- Шрифты
    +ui-section
      +ui-section-head
        +ui-title Шрифты
        +ui-path
          p Переменные находятся в файле styles/helpers/_variables.scss
          p Шрифты подключены в styles/helpers/_fonts.scss
        +ui-description
          p Основной шрифт: Arial ($font-main), font-weight: 400, 600
          p Дополнительный шрифт: Times New Roman ($font-second), font-weight: 400, 600

    //- Таблицы
    +ui-section
      +ui-section-head
        +ui-title Таблицы
        +ui-path Блок: blocks/table

      +ui-section-content()
        +table()
          thead
            tr
              td Ячейка
              td Ячейка
              td Ячейка
          tr
            td Ячейка
            td Ячейка
            td Ячейка
          tr
            td Ячейка
            td Ячейка
            td Ячейка

    //- Табы
    +ui-section
      +ui-section-head
        +ui-title Табы
        +ui-path Блок: blocks/tabs

      +ui-section-content()
        +tabs
          +tab()(data-tab-target="tab1").active Информация
          +tab()(data-tab-target="tab2") Контент
          +tab()(data-tab-target="tab3") Тексты
        +tabs-content
          +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
            p Это таб 1
          +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
            p Это таб 2
          +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
            p Это таб 3

    //- Попапы
    +ui-section
      +ui-section-head
        +ui-title Попапы
        +ui-path Блок: blocks/popups

      +ui-section-content()
        +ui-description .js-fancybox
        +link()(href="#testpopup").js-fancybox Открыть попап
        +ui-description Верстка попапов:
        +link()(onclick="$('.popups').toggle()") Показать попапы
        +popups
          +popup#testpopup
            +content-zone
              h2 Тестовый попап
              p С тестовым контентом

    //- Ссылки
    +ui-section
      +ui-section-head
        +ui-title Ссылки
        +ui-path Блок: blocks/link

      +ui-section-content()
        +ui-elements-list
          +link()(href="#") Обычная ссылка
          +link()(href="#")._dashed Пунктирная ссылка
          +link('refresh')(href="#") Ссылка с иконкой
          +link()(href="#").is-disabled Отключенная ссылка

    //- Скроллбар
    +ui-section
      +ui-section-head
        +ui-title Кастомный скроллбар
        +ui-path Блок: blocks/scrollbar/scrollbar
        +ui-description .js-scrollbar

      +ui-section-content()
        +ui-special._scroll.js-scrollbar
          div(style="height: 1000px")

    //- Слайдер
    +ui-section
      +ui-section-head
        +ui-title Слайдер
        +ui-path Блок: blocks/slider/slider
        +ui-description .js-slider

      +ui-section-content()
        +slider(true, true)
          +slide Привет
          +slide Привет
          +slide Привет
          +slide Привет

    //- Подсказки
    +ui-section
      +ui-section-head
        +ui-title Подсказки
        +ui-path Блок: blocks/tooltip/tooltip
        +ui-description .js-tooltip

      +ui-section-content()
        +button()(href="#" title="Пример подсказки").js-tooltip Пример подсказки

    //- Карты
    +ui-section
      +ui-section-head
        +ui-title Карты
        +ui-path Блок: blocks/map/map

      +ui-section-content()
        +map()#map

    //- Анимации
    +ui-section
      +ui-section-head
        +ui-title Анимации при скролле
        +ui-path Блок: blocks/js-functions/scrollAnimation
        +ui-description .js-sr — общий класс для анимируемых элементов

      +ui-section-content()
        +content-zone
          h3.js-sr.js-sr_1 .js-sr_1
          h4.js-sr.js-sr_2 .js-sr_2

    //- Хлебные крошки
    +ui-section
      +ui-section-head
        +ui-title Хлебные крошки
        +ui-path Блок: blocks/breadcrumbs/breadcrumbs

      +ui-section-content()
        +breadcrumbs(['Главная', 'Раздел', 'Страница'])

    //- Рейтинг
    +ui-section
      +ui-section-head
        +ui-title Рейтинг
        +ui-path Блок: blocks/rating/rating

      +ui-section-content()
        +ui-description Интерактивный
        +rating-interactive
        +ui-description Статичный
        +rating(3)

    //- Блок accordion
    +ui-kit-accordion

    //- Блок button
    +ui-kit-button

    //- Блок dropdown
    +ui-kit-dropdown

    //- Блок form
    +ui-kit-form

    //- Блок content-zone
    +ui-kit-content-zone
