.ui-kit {
  display: block;
  color: $ui-kit-color-text;
  background-color: $ui-kit-bg;

  $b: &;

  &__head {
    padding-top: 90px;
    padding-bottom: 20px;
  }

  &__description {
    font-size: 13px;
    line-height: 18px;
    color: rgba($ui-kit-color-text, .75);

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    #{$b}__special {
      color: rgba($ui-kit-color-text, 1);
    }

    #{$b}__special:not(:first-child) {
      margin-top: 30px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    pre {
      font-size: 12px;
    }

    p, pre {

      &:not(:first-child) {
        margin-top: .8em;
      }
    }
  }

  &__special {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 .8px 1.7px rgba(0, 0, 0, .008), 0 2px 4px rgba(0, 0, 0, .012), 0 3.8px 7.5px rgba(0, 0, 0, .015), 0 6.7px 13.4px rgba(0, 0, 0, .018), 0 12.5px 25.1px rgba(0, 0, 0, .022), 0 30px 60px rgba(0, 0, 0, .03);
  }

  &__logo {
    height: 60px;
    font-size: 20px;
  }

  &__elements-list {
    margin: -20px -20px 0 0;
    font-size: 0;

    > * {
      margin: 20px 20px 0 0;
      vertical-align: top;
    }
  }

  &__section {
    padding: 70px 0;

    &_dark {
      background-color: $ui-kit-color-darkbg;
      color: white;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $ui-kit-color-gray;
    }
  }

  &__blockpath {
    font-size: 16px;
    line-height: 1.5;

    p {

      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 1.4;
    position: relative;

    a {
      position: absolute;
      right: 100%;
      top: 3px;
      margin-right: 15px;
      font-size: 16px;
      opacity: .5;
      transition: opacity $ease-main;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__section-head {
    text-align: left;
  }

  &__section-content {
    margin-top: 50px;
  }

  &__color {
    text-align: center;
    font-size: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    box-shadow: inset 0 0 0 1px rgba(black, .05);
    border-radius: 5px;
    color: rgba(white, .75);

    $i: 1;

    &::before, &::after {
      display: inline-block;
      margin: 0 15px;
      padding: 0 7px;
      line-height: 1.8;
      font-size: 12px;
      background-color: $ui-kit-color-basic;
      border-radius: 3px;
    }

    &::before {
      margin-top: 15px;
    }

    &::after {
      margin-top: -3px;
      margin-bottom: 15px;
    }

    @each $key, $val in $colors {

      &_color:nth-of-type(#{$i}) {
        background: color($key);

        &::before {
          content: '#{$key}';
        }

        &::after {
          content: '#{$val}';
        }
      }

      $i: $i + 1;
    }

    $i: 1;

    @each $key, $val in $gradients {

      &_gradient:nth-of-type(#{$i}) {
        background: gradient($key);

        &::before {
          content: '#{$key}';
        }

        &::after {
          content: '#{$val}';
        }
      }

      $i: $i + 1;
    }
  }

  &__navigation {
    position: fixed;
    right: 100%;
    top: 0;
    height: 100%;
    z-index: 10;
    padding: 30px;
    background-color: $ui-kit-bg;
    transform: translate3d(16.67%, 0, 0);
    width: 240px;
    opacity: .5;
    transition: opacity $ease-main, transform $ease-main;
    overflow: auto;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 .8px 1.7px rgba(0, 0, 0, .008), 0 2px 4px rgba(0, 0, 0, .012), 0 3.8px 7.5px rgba(0, 0, 0, .015), 0 6.7px 13.4px rgba(0, 0, 0, .018), 0 12.5px 25.1px rgba(0, 0, 0, .022), 0 30px 60px rgba(0, 0, 0, .03);

    $b: &;

    &__icon {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 9px;
      height: 118px;
      fill: $ui-kit-color-basic;
      transition: opacity $ease-main;
      opacity: .75;

      #{$b}:hover & {
        opacity: 0;
      }
    }

    &:hover {
      transform: translate3d(100%, 0, 0);
      opacity: 1;
    }

    a {
      color: color(main);
      text-decoration: underline;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }

    li {

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}
