@import '../../node_modules/leaflet/dist/leaflet.css';

.map {
  display: block;
  height: 400px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  font-family: $font-main;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

// Кнопки приближения

.leaflet-bar {
  box-shadow: none;
  border-radius: 0;

  a {
    transition: background-color $ease-main, color $ease-main;
    color: color(basic);

    &:not(:first-child) {
      margin-top: 10px;
    }

    &:hover {
      background-color: color(main);
      color: white;
    }
  }

  a, a:hover {
    width: 40px;
    height: 40px;
    border-radius: 5px !important;
    border: none;
    line-height: 40px;
    box-shadow: 0 1.4px 2.2px rgba(0, 0, 0, .02), 0 3.3px 5.3px rgba(0, 0, 0, .028), 0 6.3px 10px rgba(0, 0, 0, .035), 0 11.2px 17.9px rgba(0, 0, 0, .042), 0 20.9px 33.4px rgba(0, 0, 0, .05), 0 50px 80px rgba(0, 0, 0, .07);
    font-size: 18px;
    font-family: $font-main;
    font-weight: 400;
  }
}

// Попап

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  color: color(basic);
  box-shadow: 0 1.4px 2.2px rgba(0, 0, 0, .02), 0 3.3px 5.3px rgba(0, 0, 0, .028), 0 6.3px 10px rgba(0, 0, 0, .035), 0 11.2px 17.9px rgba(0, 0, 0, .042), 0 20.9px 33.4px rgba(0, 0, 0, .05), 0 50px 80px rgba(0, 0, 0, .07);
}

.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 5px;
}

.leaflet-popup-content {
  margin: 0;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 1.5;
}

.leaflet-popup-tip {
  border-radius: 0 0 3px;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: -7px auto 0;
  box-shadow: none !important;
}

.leaflet-popup-tip-container {
  width: 20px;
  height: 10px;
  margin-left: -10px;
}

.leaflet-popup {
  margin-bottom: 10px;
}

// Кнопка закрытия

.leaflet-container a.leaflet-popup-close-button {
  padding: 0;
  top: 5px;
  right: 5px;
  font-size: 14px;
  line-height: 1;
  height: 14px;
  width: 14px;
  color: rgba(black, .3);
  transition: color $ease-main;

  &:hover {
    color: color(main);
  }
}
