.button {
  display: inline-block;
  padding: 0 15px;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: $color-main;
  transition: opacity $ease-main;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  color: white;
  appearance: none;
  border-radius: 3px;

  $b: &;

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover {
    opacity: .5;
  }
}

