@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-bg {
  background: rgba(black, .5);

  .fancybox-is-open & {
    opacity: 1;
  }
}

.popup {
  display: block;

  $b: &;
}
