// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 960px; // Ширина контейнера контента
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками

// ##########
// Цвета
// ##########
$color-main: blue; // Основной цвет сайта
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea

// ##########
// Шрифты
// ##########
$font-main: Arial, sans-serif; // Основной шрифт сайта
$font-second: Times New Roman, sans-serif; // Дополнительный шрифт
