/* ..................................
Базовые настройки сетки сайта
.................................. */

$params: (
  container: (
    width: 1100px, // Максимальная ширина контейнера контента
    padding: 20px, // Отступы по бокам контейнера (включены в ширину контейнера)
  ),
  grid: (
    width: 100%, // Ширина контейнера сетки
    cols: 12, // Количество колонок в сетке
    gap: 30px, // Расстояние между колонками
    gap-vertical: 30px, // Расстояние между строками в сетке
  ),
);

$breakpoints: (
  xl: 1920px,
  lg: 1280px,
  md: 1024px,
  sm: 768px,
  xs: 480px
);

/* ..................................
Цвета
Пример: background-color: color(main);
.................................. */

$colors: (
  basic: #2c2c2c, // Основной цвет текста (применяется к body)
  placeholder: #777, // Основной цвет для placeholder
  input: black, // Основной цвет input, select и textarea
  main: #2ab583, // Основной фирменный цвет
  border: #eaeaea, // Основной цвет границ таблиц, секций
  error: #e61d51, // Цвет ошибки
);

/* ..................................
Градиенты
Пример: background: gradient(main);
.................................. */

$gradients: (
  main: linear-gradient(0deg, color(main), color(border)),
);

/* ..................................
Транзишны
.................................. */

$ease-main: .2s ease;

/* ..................................
Шрифты
.................................. */

$font-main: Arial, sans-serif; // Основной шрифт сайта
$font-second: Times New Roman, sans-serif; // Дополнительный шрифт

/* ..................................
Цвета для UI-кита (удалить, если он отсутствует)
.................................. */

$ui-kit-color-basic: #2c2c2c; // Базовый темный цвет
$ui-kit-bg: white; // Фон кита
$ui-kit-color-text: $ui-kit-color-basic; // Цвет текста
$ui-kit-color-gray: #eaeaea; // Цвет границ
$ui-kit-color-darkbg: $ui-kit-color-basic; // Фон темной секции
