.content-zone {
  $b: &;

  h1, h2, h3, h4, h5, h6 {

    &:not(:first-child) {
      margin-top: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
    line-height: 1.5;
  }

  p {
    font-size: 16px;
    line-height: 1.5;

    &:not(:first-child) {
      margin-top: 10px;
    }

    small {
      display: block;
      font-size: 12px;
    }
  }

  a {
    color: $color-main;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  blockquote {
    padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol {
    font-size: 14px;
    line-height: 1.5;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    li {
      padding-left: 20px;
      position: relative;
    }
  }

  ul {

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '•';
      }
    }
  }

  ol {
    counter-reset: list1;

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        counter-increment: list1;
        content: counter(list1) '.';
      }
    }
  }
}
