include ../../node_modules/bemto.pug/bemto

-
  set_bemto_settings({
    prefix: {
      'js-': true,
      'is-': 'is-'
    }
  })

include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/content-zone/content-zone
include ../blocks/table/table
include ../blocks/button/button
include ../blocks/lists/lists
include ../blocks/form-elements/form-elements
include ../blocks/tabs/tabs
include ../blocks/link/link
include ../blocks/popups/popups
include ../blocks/slider/slider
include ../blocks/map/map
include ../blocks/breadcrumbs/breadcrumbs
//- include ../blocks//

doctype html
html(lang='ru')
  include head
  body
    block content
    script(src='assets/scripts/app.min.js')
