include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  body
    block content
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
