head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')

  link(href='favicon.ico' rel='shortcut icon')
  link(href='assets/styles/app.min.css' rel='stylesheet')
  script(src='assets/scripts/libs/jquery.min.js')
