.accordion {
  $b: &;
  @include text;

  .accordions & { margin-top: -1px; }

  &__header {
    position: relative;
    padding-right: 28px;
    height: 40px;
    border: 1px solid $color-border;
    width: 100%;
    box-sizing: border-box;
    line-height: 38px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 5px;
      height: 5px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: $color-basic;
      transform-origin: center;
      transform: translateY(-50%) rotate(135deg);
      transition: transform $ease-main;

      #{$b}.is-active & {
        transform: translateY(-50%) rotate(-45deg);
        margin-top: 2px;
      }
    }

  }

  &__button {
    padding: 0 10px;
    cursor: pointer;
  }

  &__body {
    padding: 10px;
    border: 1px solid $color-border;
    border-top: 0;
    width: 100%;
    box-sizing: border-box;
    display: none;

    #{$b}.is-active & { display: block; }
  }
}

.accordions {
  padding-top: 1px;
}
