.accordion {
  display: block;

  $b: &;

  &:not(:first-child) {
    margin-top: 30px;
  }

  &__button {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: color $ease-main;

    &:hover {
      color: color(main);
    }
  }

  &__button-content {
    font-size: 16px;
    line-height: 1.6;
    flex-grow: 1;
  }

  &__arrow {
    margin-left: 30px;
    width: 6px;
    height: 12px;
    transition: transform $ease-main;
    transform: rotate(90deg);
    margin-right: 3px;
    flex-shrink: 0;

    #{$b}.is-active & {
      transform: rotate(-90deg);
    }
  }

  &__content {
    display: none;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(color(basic), .5);

    #{$b}.is-active-initial & {
      display: block;
    }
  }

  &__wrapper {
    padding-top: 20px;
  }
}
