mixin accordions(isMultiple)
  - var defaultMultiple = typeof isMultiple !== undefined ? !!isMultiple : true

  +b.accordions&attributes(attributes)(data-accordion-multiple=`${defaultMultiple}`)
    block

mixin accordion
  +b.accordion&attributes(attributes)
    block

mixin accordion-header
  +e.header&attributes(attributes)
    block

mixin accordion-button
  +e.button.js-accordion-button&attributes(attributes)
    block

mixin accordion-body
  +e.body&attributes(attributes)
    block
