mixin rating(active, count)
  - var initialCount = Number(count) || 5

  +b.rating&attributes(attributes)
    - for (var i = 0; i < initialCount; i++)
      +e.box(class=i+1 === active ? 'is-active' : '')
        +icon('star').__icon

mixin rating-interactive(count, name)
  - var initialCount = Number(count) || 5
  - var initialName = name || 'rating-'+ Math.random().toString(36).slice(2).split('').sort(() => Math.random() - .5).join('')

  +b.rating._interactive&attributes(attributes)
    - for (var i = initialCount; i > 0; i--)
      +e.LABEL.box
        +e.INPUT(type='radio' name='name' value=i-1).control.js-rating-control
        +icon('star').__icon
