.rating {
  $b: &;
  font-size: 0;
  display: inline-flex;
  flex-flow: row-reverse;
  margin-left: -4px;

  &__box {
    margin-left: 4px;
    #{$b}_interactive & { cursor: pointer; }
  }

  &__control { display: none; }

  &__icon {
    stroke: $color-border;
    fill: transparent;
    transition: fill $ease-main, stroke $ease-main;
    width: 24px;
    height: 22px;

    #{$b}_interactive #{$b}__box:hover &,
    #{$b}_interactive #{$b}__box:hover ~ #{$b}__box &,
    #{$b}__box.is-active &,
    #{$b}__box.is-active ~ #{$b}__box & {
      fill: $color-main;
      stroke: $color-main;
    }
  }
}
