mixin slider(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block

    if pagination
      +e.dots
        +e.dot

    if buttons
      +e.navigation
        +e.button._prev
        +e.button._next

mixin slide()
  +e.slide&attributes(attributes).swiper-slide
    block

mixin ui-kit-slider
  +ui-section
    +ui-section-head
      +ui-title Слайдер
      +ui-path
        p Блок: blocks/slider/slider
      +ui-description
        p
          a(href="https://idangero.us/swiper/api/" target="_blank") Документация

    +ui-section-content()
      +slider(true, true)
        +slide Привет
        +slide Привет
        +slide Привет
        +slide Привет

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
