mixin slider(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block

    if pagination
      +e.dots
        +e.dot

    if buttons
      +e.navigation
        +e.button._prev
        +e.button._next

mixin slide()
  +e.slide&attributes(attributes).swiper-slide
    block
